root = true

[**]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true

[**.java]
tab_width = 4
trim_trailing_whitespace = true
max_line_length = 120

[**.html]
tab_width = 2
