<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: head (${'Account'})">
    <title></title>
</head>
<body>
    <nav th:replace="fragments/general :: nav (${'Account'})"></nav>
    <main class="position-absolute top-50 start-50 translate-middle">
        <form th:action="@{/account/changeusername}" th:object="${changeUsernameData}" method="post">
            <label for="username" class="fw-bold">Change Username</label>
            <div class="input-group">
                <input id="username"
                       type="text"
                       th:field="*{username}"
                       required
                       class="form-control"
                       placeholder="Username">
                <input type="submit" value="OK" class="btn btn-primary">
            </div>
        </form>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
</body>
</html>
