<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home page</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <nav th:replace="nav :: hd (${'Home'})"></nav>
	<main class="position-absolute top-50 start-50 translate-middle">
        <h3>Welcome to the Headcrab website!</h3>
        <a href="/welcome" sec:authorize="isAuthenticated()">To welcome page</a>
    </main>
</body>
</html>