<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/general :: head (${'Home'})">
    <title></title>
</head>
<body>
    <nav th:replace="fragments/general :: nav (${'Home'})"></nav>
	<main class="mb-5">
        <h3 class="text-center mb-3">Welcome to the Headcrab blog!</h3>
        <div th:each="post : ${posts}" class="card mb-3 ms-5 me-5">
            <div th:text="${#dates.format(post.date, 'yyyy MMMM dd')} + ' by ' + ${post.user.username}" class="card-header"></div>
            <div class="card-body">
                <h5 th:text="${post.title}" class="card-title"></h5>
                <p th:text="${post.content}" class="card-text"></p>
            </div>
            <div class="card-footer">
                <a th:href="'/post/' + ${post.id}" class="card-link">Open post</a>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
</body>
</html>
