<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: head (${'Login'})">
    <title></title>
</head>
<body>
    <nav th:replace="fragments/general :: nav (${'Login'})"></nav>
    <main class="position-absolute top-50 start-50 translate-middle">
        <div class="mb-3">
            <div th:if="${param.msg}" th:text="${param.msg[0]}"></div>
            <div th:if="${param.error}">Invalid username and password.</div>
            <div th:if="${param.logout}">You have been logged out.</div>
        </div>
        <form th:action="@{/login}" method="post">
            <div class="form-floating mb-3">
                <input id="floatingUsername"
                       type="text"
                       name="username"
                       required
                       class="form-control"
                       placeholder="Username">
                <label for="floatingUsername" class="form-label">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input id="floatingPassword"
                       type="password"
                       name="password"
                       required
                       class="form-control"
                       placeholder="Password">
                <label for="floatingPassword" class="form-label">Password</label>
            </div>
            <div class="form-check mb-3">
                <input id="checkboxRememberMe"
                       type="checkbox"
                       class="form-check-input"
                       name="remember-me"
                       checked>
                <label class="form-check-label" for="checkboxRememberMe">Remember Me?</label>
            </div>

            <input type="submit" value="Log in" class="btn btn-primary">
            <a href="/recovery" class="btn btn-link">Forgot password?</a>
        </form>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
</body>
</html>
