<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: head (${'Password Recovery'})">
	<title></title>
</head>
<body>
	<nav th:replace="fragments/general :: nav (${'Password Recovery'})"></nav>
	<main class="position-absolute top-50 start-50 translate-middle">
		<p th:if="${msg}" th:text="${msg}"></p>
		<form th:action="@{/recovery/done(id=${id})}" th:object="${user}" method="post">
			<div class="form-floating mb-3">
				<input id="floatingPassword"
					   type="password"
					   th:field="*{password}"
					   required
					   class="form-control"
					   placeholder="New Password">
				<label for="floatingPassword" class="form-label">New Password</label>
			</div>
			<div class="form-floating mb-3">
				<input id="floatingRetypePassword"
					   type="password"
					   th:field="*{retypePassword}"
					   required
					   class="form-control"
					   placeholder="Retype Password">
				<label for="floatingRetypePassword" class="form-label">Retype Password</label>
			</div>

			<input type="submit" value="Done" class="btn btn-primary">
		</form>
	</main>
	<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>
