<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: head (${'Recovery'})">
	<title></title>
</head>
<body>
	<nav th:replace="fragments/general :: nav (${'Recovery'})"></nav>
	<main class="position-absolute top-50 start-50 translate-middle">
		<p th:if="${msg}" th:text="${msg}"></p>
		<form th:action="@{/recovery}" th:object="${recoveryData}" method="post">
			<div class="form-floating mb-3">
				<input id="floatingEmail"
					   type="email"
					   th:field="*{email}"
					   required
					   class="form-control"
					   placeholder="Email">
				<label for="floatingEmail" class="form-label">Email</label>
			</div>

			<input type="submit" value="Next" class="btn btn-primary">
		</form>
	</main>
	<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>