<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: head (${'Sign up'})">
    <title></title>
</head>
<body>
    <nav th:replace="fragments/general :: nav (${'Sign up'})"></nav>
    <main class="position-absolute top-50 start-50 translate-middle">
        <p th:if="${msg}" th:text="${msg}"></p>
        <form th:action="@{/signup}" th:object="${user}" method="post">
            <div class="form-floating mb-3">
                <input id="floatingUsername"
                       type="text"
                       th:field="*{username}"
                       required
                       class="form-control"
                       placeholder="Username">
                <label for="floatingUsername" class="form-label">Username</label>
								<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
            </div>
            <div class="form-floating mb-3">
                <input id="floatingPassword"
                       type="password"
                       th:field="*{password}"
                       required
                       class="form-control"
                       placeholder="Password">
                <label for="floatingPassword" class="form-label">Password</label>
								<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
            </div>
            <div class="form-floating mb-3">
                <input id="floatingRetypePassword"
                       type="password"
                       th:field="*{retypePassword}"
                       required
                       class="form-control"
                       placeholder="Retype Password">
                <label for="floatingRetypePassword" class="form-label">Retype Password</label>
								<div th:if="${#fields.hasErrors('retypePassword')}" th:errors="*{retypePassword}" class="text-danger"></div>
            </div>
            <div class="form-floating mb-3">
                <input id="floatingEmail"
                       type="email"
                       th:field="*{email}"
                       required
                       class="form-control"
                       placeholder="Email">
                <label for="floatingEmail" class="form-label">Email</label>
								<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
            </div>

            <input type="submit" value="Sign up" class="btn btn-primary">
        </form>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
</body>
</html>
