<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: head(${'Welcome'})">
    <title></title>
</head>
<body>
    <nav th:replace="fragments/general :: nav (${'Welcome'})"></nav>
    <main class="position-absolute top-50 start-50 translate-middle">
        <h1 th:inline="text">Authorized as: [[${#httpServletRequest.remoteUser}]]</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-secondary">
        </form>
    </main>
    <footer th:replace="fragments/general :: footer"></footer>
</body>
</html>